
.mainDiv {
    background-color: rgb(240, 242, 245);
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: small;
}

.title{
    font-size: large;
}

.kv-title{
    font-weight: 400;
    font-size: small;

}


.kv-value{
    font-size: small;
}

.small-font {
    font-size: 12px;
}
.ant-divider-horizontal {
    margin: 12px 0;
}
.ant-calendar-picker {
    height: 24px;
}
.ant-calendar-picker-input{
    height: 24px;
}